{% extends 'base.html.twig' %}

{% block title %}Compagny
{% endblock %}

{% block body %}
	<h1>Compagny info</h1>


	{% if compagny %}
		<article>
			<header>
				{{ compagny.status }}
				{{ compagny.name }}
			</header>
			<div>Adresse:
				{{ compagny.adress }}</div>
			<div>ZipCode:
				{{ compagny.zipCode }}
			</div>
			<div>City:
				{{ compagny.city }}</div>
			<div>Country:
				{{ compagny.country }}</div>
			<div>Telephone:
				{{ compagny.telephone }}</div>
			<div>Email:
				{{ compagny.email }}</div>
			<div>Code TVA:
				{{ compagny.tvaId }}
			</div>
			<div>Siret:{{ compagny.compagnyId }}</div>
			<p>Description:
				{{ compagny.description ? compagny.description : "Auteur de la fiche n'a rien laisser"  }}</p>

			<footer>
				<div></div>Fichier crée le:
				{{ compagny.createAt ? compagny.createAt|date('d-m-Y') : ''  }}
				<div>Dernier modification le:
					{{ compagny.updateAt ? compagny.updateAt|date('d-m-Y') : ''  }}</div>
			</footer>
			{# <a href="{{ path('app_compagny_show', {'id': compagny.id}) }}">show</a> #}

		</article>
		<a href="{{ path('app_compagny_edit', {'id': compagny.id}) }}">edit</a>
	{% else %}

		<div>no records found</div>

	{% endif %}


</tbody></table>{% if compagny == "" %}

<a href="{{ path('app_compagny_new') }}">Create new</a>{% endif %}{% endblock %}
