{% extends 'base.html.twig' %}

{% block title %}VTC Union!
{% endblock %}

{% block body %}
	<h1>Bienvenue</h1>
	<a href="{{ path('app_reservation_new',{slug:"null"})}}">Effectuer une Reservation</a>

	<header>
		<div class="header-pictus">

			<h2>Image</h2>
		</div>


	</header>
	<section>
		<h2>Service</h2>


	</section>

	<section>
		<h2>Driver</h2>
		<div class="home-driver-container-flex">
			{% for driver in drivers %}
				<div class="driver-card">
					<article>
						<header><img src="{{ asset('/images/uploads/' ~ driver.photo ) | imagine_filter('my_fixed_filter')}} " alt=""></header>
						<div>
							{{ driver.name }}</div>
						{{ ux_icon('tabler:building', {height:'24px', width:'24px'}) }}:
						{{ driver.user.compagny.name}}
						<a href="{{ path('app_public_driver_show',{slug:driver.slug})}}">Voir</a>
					</article>

				</div>
			{% endfor %}
		</div>
	</section>
	<footer>
		<h3>footer</h3>
	</footer>

{% endblock %}
