{% extends 'base.html.twig' %}

{% block title %}VTC Union!
{% endblock %}

{% block body %}

	<h1>Bienvenue</h1>


	<header>
		<div class="header-pictus">

			<img src="{{ asset('/images/header/header.jpg') | imagine_filter('my_fixed_filter') }}" alt="">

		</div>


	</header>

	<a href="{{ path('app_reservation_new',{slug:"null"})}}">Effectuer une Reservation</a>

	<section>
		<h2>Service</h2>


	</section>

	<section>
		<h2>Driver</h2>
		<a role="button" href="{{ path('app_public_all_drivers_show')}}">Tous les drivers</a>
		<div class="home-driver-wrapper-flex">
			{% for driver in drivers %}
				<div class="card" style="width: 18rem;">
					<img src="{{ asset('/images/uploads/' ~ driver.photo ) | imagine_filter('my_fixed_filter')}}" class="card-img-top" alt="...">
					<div class="card-body">
						<h5 class="card-title">{{ driver.name }}
							{{ driver.firstName}}</h5>
						<p class="card-text">{{ ux_icon('tabler:building', {height:'18px', width:'18px'}) }}:
							<i>{{ driver.user.compagny.name}}</i>
						</p>
						<a href="{{ path('app_public_driver_show',{slug:driver.slug} )}}" class="btn btn-primary">Go somewhere</a>
					</div>
				</div>

			{% endfor %}
		</div>
	</section>

{% endblock %}
