{% extends 'base.html.twig' %}

{% block title %}Driver index
{% endblock %}

{% block body %}
	<h1>Driver index</h1>

	<table class="table table-striped">
		<thead>
			<tr>
				<th scope="col">Photo</th>

				<th scope="col">Name</th>
				<th scope="col">FirstName</th>

				<th scope="col">Country</th>
				<th scope="col">Telephone</th>
				<th scope="col">Email</th>
				<th scope="col">Visible</th>
				<th scope="col">actions</th>
			</tr>
		</thead>
		<tbody>
			{% for driver in drivers %}
				<tr>
					<td><img src="{{ asset('/images/uploads/' ~ driver.photo ) | imagine_filter('my_thumb_filter')}} " alt=""></td>
					<td>{{ driver.name }}</td>
					<td>{{ driver.firstName }}</td>

					<td>{{ driver.country }}</td>
					<td>{{ driver.telephone }}</td>
					<td>{{ driver.email }}</td>
					<td>
						{% if driver.isVisible == true %}
							<span class="check_valide_color">Yes{{ ux_icon('tabler:eye-check' , {height:'24px', width:'24px'}) }}</span>
						{% else %}
							No
						{% endif %}
					</td>
					<td>
						<a href="{{ path('app_driver_show', {'slug': driver.slug}) }}">show</a>
						<a href="{{ path('app_driver_edit', {'slug': driver.slug}) }}">edit</a>
					</td>
				</tr>
			{% else %}
				<tr>
					<td colspan="15">no records found</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>
	{% if app.user.compagny and app.user.cars %}
		<a href="{{ path('app_driver_new') }}">Create new</a>
	{% else %}
		<p>Pour ajouter un chauffeur, vous devez avoir une societe enregistrer et possede au moin un véhicule sur votre compte</p>
	{% endif %}


{% endblock %}
