{% extends 'base.html.twig' %}

{% block title %}Gestion
{% endblock %}

{% block body %}
	<h1>Gestion-Reservation</h1>
	<a href="{{ path('app_gestion',{stage:1})}}">
		Retour</a>
	<div class="display-flex item-space-betweend">
		<span>
			<h4>Referecne:{{reservation.reference }}</h4>
		</span>

		<span>Etat:
			{{reservation.workflowStage.status}}

		</span>
		<span>
			Recu le:
			<i>{{ reservation.createAt|date('d/m/Y à H:i') }}</i>
		</span>
	</div>


	<div class="gestion-reservation-info-wrapper">
		<div class="gestion-reservation-card">
			<h5>Client</h5>
			<ul>
				<li>Societe:{{reservation.compagny}}</li>
				<li>Nom:{{reservation.name}}</li>
				<li>Prenom:{{reservation.firstName}}</li>
				<li>Email:{{reservation.email}}</li>
				<li>Telephone:{{reservation.telephone}}</li>


			</ul>

		</div>
		<div class="gestion-reservation-card">
			<h5>Service</h5>
			<ul>
				<li>Date:
					{{ reservation.dateOperation | date('d-m-Y') }}</li>
				<li>Heur:
					{{ reservation.timeOperation | date('H:i') }}</li>
				<li>Service:
					{{ reservation.service.name }}</li>
				<li>Véhicule:
					{{ reservation.car.name }}</li>
				<li>Départ:
					{{ reservation.departureAdress }}</li>
				<li>Arriver:
					{{ reservation.ArrivalAdress }}</li>
				<li>Nombre Personne:
					{{ reservation.nbPassager }}</li>
				<li>Nombre bagage:
					{{ reservation.nbBagage }}</li>
			</ul>
		</div>
	</div>
	{% if reservation.provider %}

		<div class="gestion-reservation-card">
			<h5>Prestataire</h5>
			<ul>
				<li>Societe:
					{{reservation.provider.compagny}}</li>
				<li>Driver:
					{{ reservation.provider.driverName }}
					{{ reservation.provider.driverFirstName}}</li>
				<li>Véhicule:
					{{reservation.provider.car.brand}}
					{{reservation.provider.car.model}}
					{{reservation.provider.car.licensePlate}}</li>
			</ul>

		</div>
	{% endif %}

	{% if reservation.workflowTimeline %}


		<article>
			<h3>Time Line :</h3>
			<table>
				<tr>
					<th>Etape</th>
					<th>Date</th>
					<th>Heurs</th>
				</tr>


				{% for stage in reservation.workflowTimeline  %}
					<tr>
						<td>{{ stage.status }}</td>
						<td>{{ stage.date.date| date('d/m/Y')}}</td>
						<td>{{ stage.date.date| date('H:i')}}</td>
					</tr>


				{% endfor %}
			</table>
		</article>

	{% endif %}

	{% if reservation.stage != 3 %}
		<div>

			{{ form_start(form) }}
			{{form_widget(form)}}
			<label for="driver">selection de driver</label>
			<select name="driver" id="">
				{% for driver in drivers %}
					<option value="{{ driver.id }}">{{ driver.id}}-{{ driver.name }}-{{driver.firstName}}({{ driver.user.compagny.name  }})</option>
				{% endfor %}

			</select>
			<button class="btn">{{ button_label|default('Save') }}</button>
			{{ form_end(form) }}
			<a href="{{ path('app_gestion',{stage:reservation.stage})}}">Retour</a>
		</div>
	{% endif %}


	<div></div>

{% endblock %}
