{% extends 'base.html.twig' %}

{% block title %}Edit Reservation
{% endblock %}

{% block body %}
	<h1>Confirmation de votre reservation</h1>
	<p>Nous avons bien recu votre reservation</p>
	<h3>Réference:
		{{ reservation.reference }}</h3>
	<a role="button" href="{{ path('app_home') }}">Retour Accueil</a>
	<div class="reservation_confirmation_wraper">


		<div class="confirmation-card">
			<header>Votre demande</header>

			<ul>

				<li>
					Service:
					{{reservation.service.name}}
				</li>
				<li>Adresse de départ:
					{{reservation.departureAdress}}</li>
				<li>Adresse d'arriver:
					{{reservation.arrivalAdress}}</li>
				<li>Véhicule:
					{{reservation.car.name}}</li>
			</ul>
		</div>
		<div class="confirmation-card">
			<header>Vos information personnelle</header>
			<ul>
				<li>Nom:
					{{reservation.name}}</li>
				<li>Prenom:
					{{reservation.firstname}}</li>
				<li>Societe:
					{{reservation.compagny}}</li>
				<li>Email:
					{{reservation.email}}</li>
				<li>Téléphone:
					{{reservation.telephone}}</li>

			</ul>


		</div>

	</div>
{% endblock %}
