{% extends 'base.html.twig' %}

{% block title %}Reservation index
{% endblock %}

{% block body %}
	<h1>Reservation index</h1>

	<table class="table">
		<thead>
			<tr>
				<th>Name</th>
				<th>FirstName</th>
				<th>Service</th>
				<th>Car</th>

				<th>actions</th>
			</tr>
		</thead>
		<tbody>
			{% for reservation in reservations %}
				<tr>

					<td>{{ reservation.name }}</td>
					<td>{{ reservation.firstName }}</td>

					<td>{{ reservation.service.name }}</td>
					<td>{{ reservation.car.name }}</td>

					<td>
						<a href="{{ path('app_reservation_show', {'slug': reservation.slug}) }}">show</a>
						<a href="{{ path('app_reservation_edit', {'slug': reservation.slug}) }}">edit</a>
					</td>
				</tr>
			{% else %}
				<tr>
					<td colspan="19">no records found</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>

	<a href="{{ path('app_reservation_new') }}">Create new</a>
{% endblock %}
