{% extends 'base.html.twig' %}

{% block title %}Reservation worklflow
{% endblock %}

{% block body %}
	<nav class="space-between">
		<span>
			<h1>Reservation</h1>
		</span>
		<div>
			{% if reservation.workflowstage.stage != 5 %}
				<a role="button" href="{{ path('app_reservation_workflow_star', {slug:reservation.slug})}}">Commencer le service</a>
			{% else %}
				<a role="button" href="{{ path('app_reservation_workflow')}}">Retour</a>
			{% endif %}
		</div>
	</nav>
	<article>
		<h2>Status:
			{{ reservation.workflowstage.status }}</h2>
		<h3>Reference:
			{{reservation.reference}}s</h3>

		<div>Nom client:
			{{reservation.name}}</div>
		<div>Email:
			{{reservation.email}}</div>
		<div>Telephone:
			{{reservation.telephone}}</div>


	</article>
	{% if reservation.workflowStage.stage == 5 %}

		<article>
			<h3>Time Line :</h3>
			<table>
				<tr>
					<th>Etape</th>
					<th>Date</th>
					<th>Heurs</th>
				</tr>


				{% for stage in reservation.workflowTimeline  %}
					<tr>
						<td>{{ stage.status }}</td>
						<td>{{ stage.date.date| date('d/m/Y')}}</td>
						<td>{{ stage.date.date| date('H:i')}}</td>
					</tr>


				{% endfor %}
			</table>
		</article>
	{% endif %}
	<a href="{{ path('app_reservation_workflow')}}">retour</a>

{% endblock %}
