{% extends 'base.html.twig' %}

{% block title %}Reservation worklflow
{% endblock %}

{% block body %}
	<nav class="space-between">
		<span>
			<h1>Reservation</h1>
		</span>

		<div>
			<a role="button" href="{{ path('app_reservation_workflow_star', {slug:reservation.slug})}}">Commencer le service</a>
		</div>
	</nav>
	<article>
		<h2>Reference:
			{{reservation.reference}}s</h2>

		<div>Nom client:
			{{reservation.name}}</div>
		<div>Email:
			{{reservation.email}}</div>
		<div>Telephone:
			{{reservation.telephone}}</div>


		<a href="{{ path('app_reservation_workflow')}}">retour</a>
	</article>


{% endblock %}
