{% extends 'base.html.twig' %}

{% block title %}Reservation worklflow
{% endblock %}

{% block body %}
	<h1>Reservations</h1>
	<article>
		<h2>Reference:
			{{reservation.reference}}s</h2>

		<div>Nom client:
			{{reservation.name}}</div>
		<div>Email:
			{{reservation.email}}</div>
		<div>Telephone:
			{{reservation.telephone}}</div>


		<a href="{{ path('app_reservation_workflow')}}">retour</a>
	</article>


{% endblock %}
