{% extends 'base.html.twig' %}

{% block title %}Car
{% endblock %}

{% block body %}
	<div class="space-between">
		<h1>Car</h1>
		<span>status:
			{{ visible }}</span>
		<span>
			<span>
				<a href="{{ path('app_moderator_car_validation',{id:car.id}) }}">
					<button>Valider</button>
				</a>
			</span>
		</span>
	</div>
	{{ form_start(form) }}
	{{ form_row(form.motif)}}
	{{ form_row(form.message)}}


	<button class="btn">{{ button_label|default('Refuser') }}</button>
	{{ form_end(form) }}

	<img src="{{ asset('/images/uploads/' ~ car.photo ) | imagine_filter('my_fixed_filter')}} " alt="">

	<table class="table">
		<tbody>
			<tr>
				<th>Category</th>
				<td>{{ car.category.name }}</td>
			</tr>
			<tr>
				<th>Brand</th>
				<td>{{ car.brand }}</td>
			</tr>
			<tr>
				<th>Model</th>
				<td>{{ car.model }}</td>
			</tr>
			<tr>
				<th>Color</th>
				<td>{{ car.color }}</td>
			</tr>
			<tr>
				<th>Mise En Circulation</th>
				<td>{{ car.buyAt ? car.buyAt|date('Y-m-d') : '' }}</td>
			</tr>
			<tr>
				<th>Seats</th>
				<td>{{ car.seats }}</td>
			</tr>
			<tr>
				<th>Fiche crer
				</th>
				<td>{{ car.createAt ? car.createAt|date('Y-m-d H:i:s') : '' }}</td>
			</tr>
			<tr>
				<th>Editer</th>
				<td>{{ car.updateAt ? car.updateAt|date('Y-m-d H:i:s') : '' }}</td>
			</tr>

			<tr>
				<th>Energy</th>
				<td>{{ car.energy }}</td>
			</tr>
			<tr>
				<th>MaxBagage</th>
				<td>{{ car.maxBagage }}</td>
			</tr>
			<tr>
				<th>LicensePlate</th>
				<td>{{ car.licensePlate }}</td>
			</tr>
		</tbody>
	</table>
	<article>
		{% for image in car.galery %}
			<img src="{{ asset('/images/uploads/' ~ image ) | imagine_filter('my_thumb_filter')}} " alt="">
		{% endfor %}

	</article>

	<a href="{{ path('app_car_index') }}">back to list</a>

	{# 	{{ include('car/_delete_form.html.twig') }} #}
{% endblock %}
