{% extends 'base.html.twig' %}

{% block title %}VTC Union!
{% endblock %}

{% block body %}

	<h1>Contact us</h1>

	<div class="container">
		<div class="contact_form_wrappe">
			<section class="contact_image"></section>
			<section class="contact_form">
				{{ form_start(form) }}
				{{ form_errors(form) }}
				<div class="row">
					<div class="col-25">
						<label for="lname">Last Name*</label>
					</div>
					<div class="col-75">
						{{form_row(form.name)}}
					</div>
				</div>
				<div class="row">
					<div class="col-25">
						<label for="subject">Email*</label>
					</div>
					<div class="col-75">
						{{form_row(form.email)}}
					</div>
				</div>
				<div class="row">
					<div class="col-25">
						<label for="subject">Phone</label>
					</div>
					<div class="col-75">
						{{form_row(form.phone)}}
					</div>
				</div>
				<div class="row">
					<div class="col-25">
						<label for="subject">Subject*</label>
					</div>
					<div class="col-75">
						{{form_row(form.subject)}}
					</div>
				</div>
				<div class="row">
					<div class="col-25">
						<label for="subject">Message*</label>
					</div>
					<div class="col-75">
						{{form_row(form.message)}}
					</div>
				</div>
				<br>
				<div class="row">
					<button class="btn">{{ button_label|default('Envoyer') }}</button>
				</div>

				{{ form_end(form) }}
			</section>
		</div>
	</div>


{% endblock %}
