<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>
			{% block title %}Welcome!
			{% endblock %}
		</title>
		<link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text><text y=%221.3em%22 x=%220.2em%22 font-size=%2276%22 fill=%22%23fff%22>sf</text></svg>"> {% block stylesheets %}{% endblock %}
		<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.min.css">
		{% block javascripts %}
			{% block importmap %}
				{{ importmap('app') }}
			{% endblock %}
		{% endblock %}
	</head>
	<body>
		<nav class="container">
			<ul>
				<li>
					<a href="{{ path('app_home')}}">{{ ux_icon('tabler:aperture', {height:'24px', width:'24px'}) }}<strong>Police</strong>
					</a>
				</li>
			</ul>
			<ul>
				<li></li>
				{% if app.user %}
					<li>
						{% if app.user %}
							{{ ux_icon('tabler:user-shield', {height:'24px', width:'24px'}) }}
							{{ app.user.email}}
						{% endif %}
					</li>
					<li>
						<a href="{{path('app_logout')}}">{{ ux_icon('tabler:anchor', {height:'24px', width:'24px'}) }}Logout</a>
					</li>

				{% else %}

					<li>
						<a href="{{path('app_login')}}">
							{{ ux_icon('tabler:login-2', {height:'24px', width:'24px'}) }}Login</a>
					</li>
					<li>
						<a href="{{path('app_register')}}">{{ ux_icon('bi:alipay', {height:'24px', width:'24px'}) }}Register</a>
					</li>
				{% endif %}

			</ul>
		</nav>
		{% if app.user %}
			<article>
				<nav class="container">
					<ul></ul>
					<ul>
						<li></li>
						<li>
							<a href="{{ path('app_driver_index')}}">Driver</a>
						</li>
						<li>
							<a href="{{ path('app_client_index')}}">Client</a>
						</li>
						<li>
							<a href="{{ path('app_driver_index')}}">Societe</a>
						</li>
						<li>
							<a href="{{ path('app_driver_index')}}">Article</a>
						</li>
						<li>
							<a href="{{ path('app_driver_index')}}">Facture</a>
						</li>
						<li>
							<a href="{{ path('app_driver_index')}}">Reservation</a>
						</li>
					</ul>
				</nav>
			</article>

		{% endif %}

		<main class="container"> {% block body %}{% endblock %}
			</main>
		</body>
	</html>
</body></html>
