{% extends 'base.html.twig' %}

{% block title %}Setting
{% endblock %}

{% block body %}

	<h1>Setting</h1>
	{{ form_start(form) }}
	{{ form_widget(form) }}
	<fieldset>
		<label>
			<input name="visible" type="checkbox" role="switch" {{ status_checked }}/>
			Afficher le driver sur la page d'accueil
		</label>

	</fieldset>
	<button class="btn">{{ button_label|default('Save') }}</button>
	{{ form_end(form) }}

{% endblock %}
