{% extends 'base.html.twig' %}

{% block title %}AccessoryListe index{% endblock %}

{% block body %}
    <h1>AccessoryListe index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Description</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for accessory_liste in accessory_listes %}
            <tr>
                <td>{{ accessory_liste.id }}</td>
                <td>{{ accessory_liste.name }}</td>
                <td>{{ accessory_liste.description }}</td>
                <td>
                    <a href="{{ path('app_accessory_liste_show', {'id': accessory_liste.id}) }}">show</a>
                    <a href="{{ path('app_accessory_liste_edit', {'id': accessory_liste.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_accessory_liste_new') }}">Create new</a>
{% endblock %}
