{{ form_start(form) }}

<label for="invoice-date">Date</label>

<input type="date" name="invoice-date" id="invoice-date-js">
{% if userCustomers %}
	<select name="customer" id="customer-js">
		<option value="">--Choisissez un client--</option>
		{% for customer in userCustomers %}
			<option value="{{ customer.id }}">{{ customer.name }}
				{{ customer.firstName }}</option>
		{% endfor %}
	</select>


{% endif %}

{{ form_row(form.firstName)}}
{{ form_row(form.lastName)}}
{{ form_row(form.companyName)}}

{{ form_row(form.adress)}}
{{ form_row(form.city)}}
{{ form_row(form.zipCode)}}
{{ form_row(form.country)}}
{{ form_row(form.dateOperation)}}

<input type="time" name="invoice[timeOperation]" id="invoice_timeOperation">

<button id="switchTTC-js">Change</button>
<span id="show-isTtc-js">Le tarif est en HT</span>
<select name="userArticles" id="userArticles-js">
	<option value="">--- Selectionnez un article ---</option>
	{% for article in userArticles %}
		<option value="{{ article.id }}">
			{{ article.name }}
			--
			{{ article.price }}</option>
	{% endfor %}

</select>

<table>
	<tr>
		<th>Description</th>
		<th>Tarif</th>
		<th>Quantity</th>
		<th>Taux Tva</th>
		<th></th>

	</tr>
	<tr>
		<td><input type="text" name="description" id="item-description"></td>
		<td><input type="text" name="price" id="item-price"></td>
		<td><input type="text" name="quantity" id="item-quantity"></td>
		<td><input type="text" name="tva" id="item-tva"></td>
		<td>
			<input type="button" id="addButton" value="Add article">
		</td>

	</tr>

</table>
<div class="pannier" id="panier">
	<table>
		<thead>
			<tr>
				<th>index</th>
				<th>Designation</th>
				<th>Price</th>
				<th>Quantiy</th>
				<th>Tva</th>
				<th>TTC</th>
				<th></th>
			</tr>
		</thead>
		<tbody id='panier-container-js'></tbody>
		<tfoot></tfoot>

	</table>
	<div class="show_total" id="show_total">
		<div class="total_container">
			<table>
				<tr>
					<td>Total HT</td>
					<td id="total-ht-js" class="total_value">0</td>
				</tr>
				<tr>
					<td>Total TVA</td>
					<td id="total-tva-js" class="total_value">0</td>
				</tr>
				<tr>
					<td>Total TTC</td>
					<td id="total-ttc-js" class="total_value">0</td>
				</tr>
			</table>
		</div>

	</div>
</div>
<input type="hidden" id="article-container" name="articles">
<input type="submit" id="button-submit-js" value="Save">
{{ form_end(form) }}
