{% extends 'base.html.twig' %}

{% block title %}Facture
{% endblock %}

{% block body %}

	<div class="facture-container">
		<section class="facture-header">
			<div class="logo">LOGO</div>
			<div>
				<h1>FACTURE</h1>
			</div>
		</section>

		<section class="info-header">
			<div class="company-info">
				{{ company.name }}
				<br>
				{{ company.adress }}
				<br>
				{{ company.zipCode }}
				{{ company.city }}
				<br>

				{{ company.country }}
				<br>
				tel:
				{{ company.telephone }}
				/
				{{ company.email }}
				<br>
				No TVA :
				{{ company.tvaId }}
			</div>
			<div class="customer-info">
				<h6>Client:</h6>
				{{ invoice.customer.lastName }}
				{{ invoice.customer.firstName }}
				<br>
				{% if invoice.customer.company %}
					{{ invoice.customer.company }}
					<br>
				{% endif %}

				{{ invoice.customer.adress }}
				<br>
				{{ invoice.customer.zipCode }}
				{{ invoice.customer.city }}
				<br>
				{{ invoice.customer.country }}
			</div>
		</section>
		<section class="facture-reference">

			<div>
				{{ company.city }}, le
				{{ invoice.invoiceDate|date('d/m/Y') }}
			</div>
			<div>Ref:
				{{ invoice.ref }}</div>
		</section>


		<section class="facture-content">

			<table class="facture-table">
				<thead>
					<tr class='facture-table-grid'>
						<th scope="col">#</th>
						<th scope="col">Designation</th>
						<th scope="col">price</th>
						<th scope="col">Taux Tva</th>
						<th scope="col">Quantity</th>
						<th scope="col">Total</th>
					</tr>
				</thead>
				<tbody>
					{# number_format($number, 2, ',', ' ') #}
					{% for article in invoice.product %}
						<tr class='facture-table-grid'>
							<th scope="row">1</th>
							<td>{{ article.designation }}</td>
							<td>{{ article.price|number_format(2, '.', ',') }}</td>
							<td>{{ article.tva|number_format(2, '.', ',') }}</td>
							<td>{{ article.quantity|number_format(2, '.', ',') }}</td>
							<td>{{ article.total|number_format(2, '.', ',') }}</td>
						</tr>
					{% endfor %}

					<tr class='facture-table-grid'>
						<th scope="row">#</th>
						<td>{{ invoice.dateOperation|date('d/m/Y') }}
							{% if invoice.timeOperation %}
								-
								{{ invoice.timeOperation}}
							{% endif %}
						</td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
					</tr>
				</tbody>
				<tfoot>
					<tr>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td scope="col" class="total-zone">
							<div class="facture-total">
								<span class="title">HT:</span>
								<span class="value">{{ invoice.total.total_ht|number_format(2, '.', ',') }}</span>
								<span class="title">TVA:</span>
								<span class="value">{{ invoice.total.total_tva|number_format(2, '.', ',') }}</span>
								<span class="title">TTC:</span>
								<span class="value">{{ invoice.total.total_ttc|number_format(2, '.', ',') }}</span>
							</div>
						</td>

					</tr>

				</tfoot>
			</table>
		</section>
		<p class="text-show-tva">TVA non applicable selon l'article 293 B du Code Général des Impôts » en bas de la facture de l'entreprise non-assujettie. Total hors taxes de la transaction, à mentionner par la dénomination « Total net de TVA</p>

		<section class="bank-info">
			<table class='bank-table'>

				<tr>
					<th scope="row">RIB</th>
					<td>FR123456789</td>

				</tr>
				<tr>
					<th scope="row">Code banque</th>
					<td>2034</td>

				</tr>
				<tr>
					<th scope="row">Adresse</th>
					<td>56 Rue du general de gaulle</td>

				</tr>

			</table>

		</section>

		<p>
			Le taux des pénalités ne peut pas être inférieur à 14,76 %. Les pénalités de retard peuvent être appliquées sans avoir à faire un rappel de paiement. Une indemnité forfaitaire pour frais de recouvrement est également appliquée. Son montant est égal à 40 €
		</p>

	</div>
{% endblock %}
