{% extends 'base.html.twig' %}

{% block title %}Facture
{% endblock %}

{% block body %}

	<div class="facture-container">
		<section class="facture-header">
			<div class="logo">LOGO</div>
			<div>
				<h1>FACTURE</h1>
			</div>
		</section>

		<section class="info-header">
			<div class="company-info">
				{{ company.name }}
				<br>
				{{ company.adress }}
				<br>
				{{ company.zipCode }}
				{{ company.city }}
				<br>

				{{ company.country }}
				<br>
				tel:
				{{ company.telephone }}
				/
				{{ company.email }}
				<br>
				No TVA :
				{{ company.tvaId }}
			</div>
			<div class="customer-info">
				<h6>Client:</h6>
				{{ invoice.customer.lastName }}
				{{ invoice.customer.firstName }}
				<br>
				{% if invoice.customer.company %}
					{{ invoice.customer.company }}
					<br>
				{% endif %}

				{{ invoice.customer.adress }}
				<br>
				{{ invoice.customer.zipCode }}
				{{ invoice.customer.city }}
				<br>
				{{ invoice.customer.country }}
			</div>
		</section>
		<section class="facture-reference">

			<div>
				{{ company.city }}, le
				{{ invoice.invoiceDate|date('d/m/Y') }}
			</div>
			<div>Ref:
				{{ invoice.ref }}</div>
		</section>


		<section class="facture-content">

			<table class="facture-table">
				<thead>
					<tr class='facture-table-grid'>
						<th scope="col">#</th>
						<th scope="col">Designation</th>
						<th scope="col">price</th>
						<th scope="col">Taux Tva</th>
						<th scope="col">Quantity</th>
						<th scope="col">Total</th>
					</tr>
				</thead>
				<tbody>
					{# number_format($number, 2, ',', ' ') #}
					{% for article in invoice.product %}
						<tr class='facture-table-grid'>
							<th scope="row" class="invoice-article-index">1</th>
							<td>{{ article.designation }}
								{% if article.detail %}
									<i class="detail-info">{{ article.detail|raw }}</i>
								{% endif %}
							</td>
							<td>{{ article.price|number_format(2, '.', ',') }}</td>
							<td>{{ article.tva|number_format(2, '.', ',') }}</td>
							<td>{{ article.quantity|number_format(2, '.', ',') }}</td>
							<td>{{ article.total|number_format(2, '.', ',') }}</td>
						</tr>
					{% endfor %}
					{% if setting.showDateOperation %}
						<tr class='facture-table-grid'>
							<th scope="row">#</th>
							<td>{{ invoice.dateOperation|date('d/m/Y') }}
								{% if invoice.timeOperation %}
									-
									{{ invoice.timeOperation}}
								{% endif %}
							</td>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
						</tr>
					{% endif %}
				</tbody>
				<tfoot>
					<tr>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td scope="col" class="total-zone">
							<div class="facture-total">
								<span class="title">HT:</span>
								<span class="value">{{ invoice.total.total_ht|number_format(2, '.', ',') }}</span>
								<span class="title">TVA:</span>
								<span class="value">{{ invoice.total.total_tva|number_format(2, '.', ',') }}</span>
								<span class="title">TTC:</span>
								<span class="value">{{ invoice.total.total_ttc|number_format(2, '.', ',') }}</span>
							</div>
						</td>

					</tr>

				</tfoot>
			</table>
		</section>
		{% if setting.showNoTvaText %}
			<p>{{  setting.noTvaText}}</p>
		{% endif %}
		{% if setting.showbank %}
			<section class="bank-info">
				<table class='bank-table'>

					<tr>
						<th scope="row">RIB</th>
						<td>FR123456789</td>

					</tr>
					<tr>
						<th scope="row">Code banque</th>
						<td>2034</td>

					</tr>
					<tr>
						<th scope="row">Adresse</th>
						<td>56 Rue du general de gaulle</td>

					</tr>

				</table>

			</section>
		{% endif %}
		{% if setting.showLatePaymentText %}

			<p>
				{{ setting.latePaymentText}}
			</p>
		{% endif %}
	</div>
{% endblock %}
