{% apply inline_css(source('@styles/email_reservation_confirmation.css')) %}
<body>
	<div class="corp-message">
		<header>
			<h1 class="brand">Paris Presitge Transport</h1>
		</header>

		<div class="content">
			<h1>Confirmation de votre reservation</h1>

			<p>
				<span class="label">Nom:</span>
				{{ reservation.name }}</p>
			<p>
				<span class="label">Téléphone:</span>
				{{ reservation.telephone }}</p>
			<p>
				<span class="label">Email:</span>
				{{ reservation.email }}</p>
			<p>
				<span class="label">Date:</span>
				{{ reservation.dateOperation | date('d/m/Y') }}
				à
				{{ reservation.timeOperation | date('i:m') }}</p>
			<p>
				<span class="label">
					Nombre de passagers:</span>
				{{ reservation.nbPassager }}</p>
			<p>
				<span class="label">Nombre de bagages:</span>
				{{ reservation.nbBagage }}</p>
			<p>
				<span class="label">Infos Vol/train:</span>
				{{ reservation.numTransport }}</p>
			<p>
				<span class="label">Adresse de départ:</span>
				{{ reservation.departureAdress }}</p>
			<p>
				<span class="label">Adresse d'arriver:</span>
				{{ reservation.arrivalAdress }}</p>
			{# {% if driver %}
							<p class="driver_name">Chauffeur:
								{{ driver.name }}</p>
			
							<p class="company_name">Societe prestaraire :
								{{ company.name }}</p>
						{% endif %} #}
		</div>

		<footer>
			<p>Transport By Asia</p>
		</footer>
	</div>
</body>


{% endapply %}
